body{
	background-color: #1affa3;
}
img{
	float: right;
	weigth: 500;
	height: 250;
	
}
h1{
	color: navy;
	font-family: IMPACT;
	font-size: 45px;
}
h3{
	border-left: 4px solid red;
	color: #FF4500;
	font-family: arial; 
	font-size: 22px;
}
ul{
	font-weight: bold;
}
p{
	font-weight: bold;
}
li{
	color: black;
	font-family: arial;
	font-size: 20px;
}
ul{
	list-style-type: square;
}
#d_anagraf{
	border: 2px solid black;
  	margin-top: 100px;
  	margin-bottom: 100px;
  	margin-right: 150px;
 	margin-left: 20px;
  	background-color: #00ff00;
}
#f_scolastica{
	border: 2px solid black;
  	margin-top: 100px;
  	margin-bottom: 100px;
  	margin-right: 150px;
 	margin-left: 20px;
  	background-color: red;
}
#hobby{
	border: 2px solid black;
  	margin-top: 100px;
  	margin-bottom: 100px;
  	margin-right: 150px;
 	margin-left: 20px;
  	background-color: blue;
}
